.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: Black;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
}
body {
    margin: 0;
    font-family: Georgia;
    font-weight: 700;
    color: black;
    background-color: #ffead3ff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.bg-dark {
    background-color: #ffead3ff !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.9);
}
.container{
    padding: 3px 16px;
}
.navbar-brand {

}
.navbar-toggler{
    color: black;
}

input[type=text], select, textarea{
    width: 40%;
    padding: 12px;
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */

}

input[type=email], select, textarea{
    width: 40%;
    padding: 12px;
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */

}


input[type=submit] {
    background-color: goldenrod;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
}

.btn-primary{
    background: goldenrod;
}
